<!DOCTYPE html>
<html>
<head>
  <title>Prototype: WhatsHapp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
